<div id="add-review-container row" class="thumbnail">
  <% if !logged_in? %>
    <p class="text-center">Logga in för att lämna ett omdömme.</p>
  <% else %>
    <div class="grade"></div>
    <div class="review"></div>
  <% end %>
</div>