<% number_of_products   = 30 %>
<% products_to_render   = @products.limit(number_of_products).order("RANDOM()") %>

<div id"page-header">
  <h1>Märken och tillbehör</h1>
  <p>Här hittar du allt du behöver för din studentoverall.</p>
</div>

<div id="kampanj"  class="col">
  <!-- factor out block to _campain.html.erb -->
  <%= render 'campaign' %>
  <!-- end of block -->
</div>

<hr />

<div id="random_products" class="center-block" margin=100%>
  <h2>Utvalda produkter</h2>
  <%= render 'product-grid' %>

</div>
