<h1>Märken och tillbehör</h1>
<p>Här hittar du allt du behöver för din studentoverall.</p>

<div id="Kampanj" border=1px class="jumbotron">
  <h1>Kampanj</h1>
  <p>Placeholder för framtida kampanjer.</p>
</div>

<hr />

<div id="random_products" class="center-block" margin=100%>
  <h2>Utvalda produkter</h2>

  <% random_products = @products.limit(6).order("RANDOM()") %>
<div class="row">

  <% random_products.each do |product| %>
  <div class="col-sm-6">

    <div class="card>
      <%= link_to image_tag( product.picture.empty? ?
                                "placeholder.png" : "#{product.category_id}/#{product.picture}",
                             :alt => product.name,
                             :class => "cart-img-top",
                             size: 100 ),
                  item_path( product ),
                  title: product.name %>
      <div class="card-block">
        <h4 class="card-title"><%= product.name %></h4>
        <%= link_to "Visa", product, :class => "btn btn-primary" %>
      </div>
    </div>

  </div>


  <% end %>

</div>

</div>