
<div id"page-header">
  <h1>Märken och tillbehör</h1>
  <p>Här hittar du allt du behöver för din studentoverall.</p>
</div>

<div id="kampanj"  class="col">
  <%= render 'campaign' %>
</div>

<hr />

<div id="random_products" class="center-block" margin=100%>
  <h2>Utvalda produkter</h2>
  <%= render 'product-grid' %>
</div>
