<% @categories.each do |category| %>
  <% if category.parent == 1 then %>
    <li>
      <%= link_to category.name, category %>
    </li>
    <% @categories.each do |sub| %>
      <% if sub.parent == category.id %>
        <li>
          <%= link_to "-" + sub.name, sub %>
        </li>
      <% end %>
    <% end %>
  <% end %>
<% end %>