<h1>Editing Customer</h1>

<%= render 'form', customer: @customer %>

<% if is_admin? %>
  <%= link_to 'Show', @customer %> |
  <%= link_to 'Back', customers_path %>
<% else %>
  <%= link_to 'Tillbaka', user_path %>
<% end %>
